@page "/"

<PageTitle>Index</PageTitle>

<h2>Bienvenido</h2>

<p>Entregable 2 del curso "Seguridad de Aplicaciones y Mejores Prácticas de Seguridad en Codificación"</p>


<CardProcessComponent></CardProcessComponent>
